* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-size: 16px;
  }


body{ 
    font-family: 'Quicksand', 'Arial', sans-serif;
    height: 100vh;
    width: 100vw;

}

.content-block{
    color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: aquamarine;
}

.header-container {
    font-size: 2rem;
    color: yellowgreen;
    text-align: left;
}

.list-container {
    color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-self:stretch;
    color: blueviolet;
    background-color: wheat;
}

.joke-item1{
    display: flex;
    flex-direction: row;
}

.icon-picture {
    align-self: flex-end;
    width: 2rem;
    margin-right: 1rem;
}

.list-title {
    margin-left: 1rem;
}

/*
input {
    display: none;
}
*/